*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  background-color: hsl(275, 100%, 97%);
}

h1,
h2 {
  color: hsl(292, 42%, 14%);
}

.question {
  font-size: 1.17em;
  width: 250px;
  margin: 0;
  font-weight: 600;
}

.question:hover,
.question:active {
  color: #ad28eb;
}

.answer {
  color: hsl(292, 16%, 49%);
  margin: 1.5em 0 1.5em 0;
  opacity: 90%;
  line-height: 1.3;
}

.top-bg {
  background: url(./assets/images/background-pattern-mobile.svg);
  object-fit: cover;
  padding: 7.5em 0;
  margin: 0;
  /* position: relative; */
}

@media (min-width: 420px) {
  .top-bg {
    background: url(./assets/images/background-pattern-desktop.svg);
  }
}

.flex,
.question-flex {
  display: flex;
  gap: 1em;
}

.container {
  background-color: white;
  width: 90%;
  max-width: 35.5em;
  margin: 0 auto;
  padding: 1em 1em;
  border-radius: 1em;
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
}

.question-answer-container {
  padding: 1em 0;
  cursor: pointer;
}

.star-icon {
  width: 25px;
}

.underline {
  border-bottom: 1px solid hsl(292, 16%, 49%);
  opacity: 25%;
  max-width: 500px;
  margin-top: 0.5em;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution-text {
  opacity: 100%;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 750px) {
  .top-bg {
    padding: 10em 0;
  }
  .container {
    top: 175px;
  }
  header,
  .question-answer-container {
    margin-left: 1em;
  }
  h1 {
    font-size: 3rem;
  }
  .star-icon {
    width: 35px;
  }
  .question {
    width: max-content;
    font-size: 1.15rem;
  }
  .question-flex {
    justify-content: space-between;
  }
  .answer {
    margin: 1em 0 1.5em 0;
  }
}
